<div class="container-fluid">
  <div class="row bg-primary pb-3 pt-3">
    <div class="col-md-3 col-12">
      <h2 class="text-white">StudyPortal</h2>
    </div>
    <div class="col-md-9 col-12">
      <form class="form-signin">
        <div class="row">
          <div class="col-md-4 col-xs-4 mb-3">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="email" [(ngModel)]="user.username"  type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
          </div>
          <div class="col-md-4 col-xs-4">
            <label for="inputPassword" class="sr-only">Password</label>
            <input name="password" [(ngModel)]="user.password"  type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
          </div>
          <div class="col-md-3 col-xs-4">
            <button class="btn btn-light btn-block" type="button" (click)="validateLogin();">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-register></app-register>
</div>




