.author_name{
  font-size: 18px;
  line-height: 1.38;
  font-weight: 700;
  color: #bdbdbd;
}

.post_date{
  color: #bdbdbd;
  font-size: 14px;
}

.post-figure-contenitor{
  height: 300px;
}

.post-figure-contenitor img{
  height: 100%;
  width: auto;
}

.hr_post{
  margin-top: 0px;
  border: 1px solid #a3cfff52;
}
