<div class="row mt-3">
  <div class="col-md-12 col-12">
    <h4 class="text-center">Modify user information</h4>
    <hr>
  </div>
  <div class="col-md-12 col-12">
    <form #modifyUserForm="ngForm" (ngSubmit)="modifyUser(modifyUserForm)" >
      <div class="row">
        <div class="col-md-6 col-12 mb-3">
          <label for="inputfirstName" class="sr-only">Name</label>
          <input name="firstName" ngModel required #title="ngModel" class="form-control" id="inputfirstName" required placeholder="Insert a First Name" [value]="this.sideBar.user.getFirstName()">
        </div>
        <div class="col-md-6 col-12 mb-3">
          <label for="inputlastName" class="sr-only">Name</label>
          <input name="lastName" ngModel required #title="ngModel" class="form-control"  id="inputlastName" required placeholder="Insert a Last Name" [value]="this.sideBar.user.getLastName()">
        </div>
       <div class="col-md-12 col-12 mb-3">
        <label for="inputdateOfBirth" class="sr-only">Date of birth</label>
         <input id="inputdateOfBirth"
                type="text"
                ngModel
                name="dateOfBirth"
                placeholder="Date of birth"
                class="form-control"
                bsDatepicker
                [bsConfig]="{ isAnimated: true, dateInputFormat: 'DD-MM-YYYY', containerClass: 'theme-blue'  }"
                [value]="this.sideBar.user.getDateOfBirth()"
         >

      </div>
        <div class="col-md-12 col-12 mb-3 text-center" *ngIf="showNoImage">
          <figure>
            <img [src]="this.sideBar.user.getImageProfile() != null ? this.sideBar.user.getImageProfile() : '../../assets/img/no-image.png'" width="200px" height="200px">
          </figure>
        </div>
        <div class="col-md-6 col-12 mb-3" *ngIf="!showNoImage">
          <h5>Original Image</h5>
          <image-cropper heigth="200px"
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 4"
            [resizeToWidth]="110"
            format="png"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"></image-cropper>

<!--          <figure>-->
<!--            <img src="../../assets/img/no-image.png" *ngIf="showNoImage" >-->
<!--            <img [src]="'data:image/jpg;base64,'+imageUrl64" *ngIf="imageUrl64" height="200px" >-->
<!--          </figure>-->
<!--          <input name="profilImage" type="file" accept="image/*" (change)="onFileChanged($event)" >-->
        </div>
        <div class="text-center col-md-6" *ngIf="!showNoImage">
          <h5>Preview</h5>
          <img [src]="croppedImage" />
        </div>
        <div class="col-md-12 text-center" id="contenitor-Btn-image" >
          <input id="fileImageprofile" type="file" (change)="fileChangeEvent($event)" />
          <label for="fileImageprofile">Change image profile</label>
        </div>
      </div>
      <div class="col-md-12 col-12">
        <button class="btn btn-primary btn-block" type="submit" >Save</button>
      </div>

    </form>
  </div>
</div>
